# -----------------------
# Virtual Environment
# -----------------------
venv/

# -----------------------
# Dataset Files
# -----------------------
rgb/
*.geojson
*.tif
*.csv



# -----------------------
# Python Cache
# -----------------------
__pycache__/
*.pyc

# -----------------------
# OS Files
# -----------------------
.DS_Store
Thumbs.db